# User-specific files
*.csproj.user
*.suo
*.shfbproj_*

# Generated output
[Bb]in/
[Oo]bj/
[Hh]elp/

# Profiling data and performance sessions
*.vspx
*.vsp
*.psess

/Sandcastle/ProductionTools/
/SHFB/Source/packages/

# Solution uses NuGet Package Restore
/packages/
