# User-specific files
*.csproj.user
*.wixproj.user
*.suo
*.shfbproj_*
StyleCop.Cache

# Generated output
[Bb]in/
[Oo]bj/
[Hh]elp/
/SHFB/Deploy/*.exe
/SHFB/Deploy/*.pdb
/SHFB/Deploy/*.config
/SHFB/Deploy/*.dll
/SHFB/Deploy/*.xml
/SHFB/Deploy/*.exe.manifest
/SHFB/Deploy/*.targets
/SHFB/Deploy/*.presentation
/SHFB/Deploy/Colorizer/
/SHFB/Deploy/ConceptualTemplates/
/SHFB/Deploy/Data/.NETCore*/
/SHFB/Deploy/Data/.NETFramework*/
/SHFB/Deploy/Data/.NETMicroFramework*/
/SHFB/Deploy/Data/.NETPortable*/
/SHFB/Deploy/Data/Silverlight*/
/SHFB/Deploy/Data/WindowsPhone*/
/SHFB/Deploy/Data/WindowsPhoneApp*/
/SHFB/Deploy/Extras/
/SHFB/Deploy/ItemTemplates/
/SHFB/Deploy/PresentationStyles/
/SHFB/Deploy/ProductionTransforms/
/SHFB/Deploy/SharedContent/
/SHFB/Deploy/Spelling/
/SHFB/Deploy/SyntaxContent/
/SHFB/Deploy/Templates/
/SHFB/Deploy/Web/
/Deployment/InstallResources/
/Deployment/SandcastleInstaller.exe

# Roslyn IntelliSense Cache
*.sln.ide/

# Produced by the WiX heat tool for local comparison to the actual setup wxs
/SHFB/Source/Setup/Temp/DeploymentFiles.wxs


# Profiling data and performance sessions
*.vspx
*.vsp
*.psess

# Solution uses NuGet Package Restore
/packages/
/SHFB/Source/packages/
