/* File    : TOC.css
// Author  : Eric Woodruff  (Eric@EWoodruff.us)
// Updated : 01/26/2014
//
// Style sheet for the table of contents
*/

* {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

body {
	font-family: 'Segoe UI', Verdana, Arial, sans-serif;
	font-size: 0.85em;
	background-color: #6699CC;
	color: White;
	overflow: hidden;
}

input {
	font-size: 8.5pt;
}

img {
	border: 0;
	margin-left: 5px;
	margin-right: 2px;
}

img.TreeNodeImg {
	cursor: pointer;
}

img.TOCLink {
	cursor: pointer;
	margin-left: 0;
	margin-right: 0;
}

a.SelectedNode, a.UnselectedNode {
	color: #1382ce;
	text-decoration: none;
	padding: 1px 3px 1px 3px;
	white-space: nowrap;
}

a.SelectedNode {
	color: #68217a;
}

a.UnselectedNode:hover, a.UnselectedNode:active {
	background-color: #fff;
	color: #00bcf2;
}

.Visible {
	display: block;
	margin-left: 14px;
}

.Hidden {
	display: none;
}

.Tree {
	background-color: #ffffff;
	color: Black;
	width: 300px;
	overflow: auto;
}

.TreeNode, .TreeItem {
	white-space: nowrap;
	margin: 2px 2px 2px 2px;
}

.TOCDiv {
	position: relative;
	float: left;
	width: 300px;
	height: 100%;
}

.TOCSizer {
	clear: none;
	float: left;
	width: 10px;
	height: 100%;
	background-color: #6699CC;
	background-image: url("Splitter.gif");
	background-position: center center;
	background-repeat: no-repeat;
	position: relative;
	cursor: w-resize;
}

.TopicContent {
	position: relative;
	float: right;
	background-color: white;
	height: 100%;
}

.SearchOpts {
	padding: 5px 5px 0px 5px;
	background-color: #d3d3d3;
	color: black;
	width: 300px;
}

.NavOpts {
	padding: 5px 5px 0px 5px;
	background-color: #d3d3d3;
	color: black;
	width: 300px;
}

.IndexOpts {
	padding: 5px 5px 0px 5px;
	background-color: #d3d3d3;
	color: black;
	width: 300px;
}

.IndexItem {
	white-space: nowrap;
	margin: 2px 2px 2px 2px;
}

.IndexSubItem {
	white-space: nowrap;
	margin: 2px 2px 2px 12px;
}

.PaddedText {
	margin: 10px 10px 10px 10px;
}
